<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geometry.vegapp">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".a_welcomeScreen.welcome_activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".b_homepage.homepage_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".h_login.login_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".e_register.register_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.aa_mainWindow.aa_ai_OptionSelector_MainWindow_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ab_seed.a_recycler_view_seed_options.a_recycler_view_seed_options_display_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ab_seed.d_seed_item_view.viewSeed"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ab_seed.c_seed_entry.seedformEntryForm"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ab_seed.b_recycler_view_seed_display.a_recycler_view_seed_view_dsiplay_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity android:name=".d_projectCore.ac_veg.a_recycler_view_veg_options.a_recycler_view_veg_options_display_activity"
            android:theme="@style/AppTheme.NoTitle" />
    </application>

</manifest>