<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geometry.vegapp">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".a_welcomeScreen.welcome_activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".b_homepage.homepage_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".h_login.login_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".e_register.register_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.aa_mainWindow.aa_ai_OptionSelector_MainWindow_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ab_seed.a_recycler_view_seed_options.a_recycler_view_seed_options_display_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ab_seed.d_seed_item_view.viewSeed"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ab_seed.c_seed_entry.seedformEntryForm"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ab_seed.b_recycler_view_seed_display.a_recycler_view_seed_view_dsiplay_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ac_veg.a_recycler_view_veg_options.a_recycler_view_veg_options_display_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ac_veg.c_recycler_view_veg_entry.vegformEntryForm"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".d_projectCore.ac_veg.b_recycler_view_veg_display.a_recycler_view_veg_view_display_activity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity android:name=".d_projectCore.ac_veg.d_veg_item_view.viewVeg"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity android:name=".d_projectCore.ad_fertilizer.a_recycler_view_fert_options.a_recycler_view_fert_options_display_activity"
            android:theme="@style/AppTheme.NoTitle"/>

        <activity android:name=".d_projectCore.ad_fertilizer.c_recycler_view_fert_entry.fertformEntryForm"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity android:name=".d_projectCore.ad_fertilizer.b_recycler_view_fert_display.a_recycler_view_fert_view_display_activity"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity android:name=".d_projectCore.ad_fertilizer.d_recycler_view_fert_item_view.viewFert"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity android:name=".d_projectCore.ae_plant.a_recycler_view_plant_options.a_recycler_view_plant_options_display_activity"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity android:name=".d_projectCore.ae_plant.c_recycler_view_plant_entry.plantformEntryForm"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity android:name=".d_projectCore.ae_plant.b_recycler_view_plant_display.a_recycler_view_plant_view_display_activity"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity android:name=".d_projectCore.ae_plant.d_recycler_view_plant_item_view.viewPlant"
            android:theme="@style/AppTheme.NoTitle"/>

        <activity android:name=".d_projectCore.af_train.a_recycler_view_train_options.a_recycler_view_train_options_display_activity"
            android:theme="@style/AppTheme.NoTitle"/>


        <activity android:name=".d_projectCore.ag_renewal.a_recycler_view_renewal_options.a_recycler_view_renewal_options_display_activity"
            android:theme="@style/AppTheme.NoTitle"/>

        <activity android:name=".d_projectCore.af_train.c_recycler_view_train_entry.trainformEntryForm"
            android:theme="@style/AppTheme.NoTitle"/>

        <activity android:name=".d_projectCore.ag_renewal.c_recycler_view_renewal_entry.renewalformEntryForm"
            android:theme="@style/AppTheme.NoTitle"/>

    </application>

</manifest>